@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developed by @ViewData["Developer"]</p>

<adress>
    <strong>More information on </strong> <a href="https://github.com/coelhovinicius?tab=repositories" target="_blank" rel="noopener noreferrer">Portfólio Vinicius Coelho Bemfica</a>
</adress>